p {
    color: black;
    background-color: aquamarine;
    font-size: 16px;
}
 div {
    color: white;
    background-color: rgb(4, 145, 100);
    font-size: 20px;
}
a {
    color: blue;
    background-color: rgb(245, 142, 142);
}

span {
    color: red;
    background-color: rgb(255, 255, 0);
    font-size: 18px;
}